

* {box-sizing: border-box;}
 body {
  background: #000;
  color: #fff; /*DAA520*/
  font-family: "Helvetica Neue";

}
  #box-container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;


  }

  #blue-score{
    position: relative;
    height: 100%;
  }

  #red-score{
    position: relative;
 
    height: 100%;
  }

  #top1 {
    display: flex;


  }
  



#player1{
  position: relative;
  text-align: right;

  width: 65%;

  padding: 0px;
}


#setName {
  text-align: center;
  color: black;  
  width: 250px;
  height: 100px;
  top: 75px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  padding: 20px;
  background-color: #00b;
  display: none;
  z-index: 5;
  border-radius: 10px;
  opacity: .9;

}


#nameBtn{
    margin-top: 10px;
    height: 30px;
    font-weight: bold;
    border-radius: 3px;
    border: solid 2px;
    background-color: #f7b945;
    opacity: .8;
}

#nameBtn:hover{
opacity: 1;
}

#field1{

  width: 180px;
  height: 30px;
  background-color: #FFF;
  opacity: .6;
}


#password1{
  width: 180px;
  height: 30px;
  background-color: #FFF;
  opacity: .6;
  margin-top: 10px;

}

#alert1{
  margin-bottom: 3px;
  color: red;
  display: none;
}

#setName2 {
  text-align: center;
  color: black;  
  width: 250px;
  height: 100px;
  top: 75px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #b00;
  display: none;
  z-index: 5;
  border-radius: 10px;
  opacity: .9;

}


#nameBtn2{
    margin-top: 10px;
    height: 30px;
    font-weight: bold;
    border-radius: 3px;
    border: solid 2px;
    background-color: #f7b945;
}

#field2{

  width: 180px;
  height: 30px;
  background-color: #FFF;
  opacity: .6;


}

#password2{
  width: 180px;
  height: 30px;
  background-color: #FFF;
  opacity: .6;
  margin-top: 10px;

}

#alert2{
  margin-bottom: 3px;
  color: blue;
  display: none;
}




#p1{
margin: 12 0 5px 0;

font-size: 48px;
}

#p1:hover {
  transform: scale(1.1);
}


#game1{
  font-size: 5rem;
  font-weight: bold;
  width: 30%;
  

}
  

#score1{
  
  font-size: 20rem;
  margin-top: 25px;
  font-weight: bold;



}

#outer_circle1{

  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 70px;
  padding: 1px;
  right: 35px;


}

#circle{

background: #fff;
position: absolute;
height: 40px;
width: 40px;
background: #fff;
border-radius: 50%;
left: 16px;
bottom: 16px;

 
}


#top2 {
  display: flex;
}

#game2{
  font-size: 5rem;
  width: 30%;
  font-weight: bold;


}

#player2{
  position: relative;
  text-align: left;

  width: 65%;

  padding: 0px;
}


#p2{
  margin: 12 0 5px 0;

  font-size: 48px;
}

#p2:hover{
  transform: scale(1.1);
}
  



#score2{
  
  font-size: 20rem;
  margin-top: 25px;
  font-weight: bold;
 
  

}


#letB {
  font-size: 5rem;
  margin-top: 1px;
}

#outer_circle2{

  position: absolute;
  height: 70px;
  width: 70px;
  bottom: 0px;
  left: 35px;

}

#circle2{

position: absolute;
top: 16px;
left: 16;
height: 40px;
width: 40px;
background: #fff;
border-radius: 50%;
background: #b00;
 
}

#button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #00b;
  background-repeat:no-repeat;
  border-radius: 30px;
  border: 2px solid white;
  height: 50px;
  width: 200px;
  cursor:pointer;
  overflow: hidden;
  outline-color: white;
  text-align: center;
  top: 280px;
  z-index: 1; 
  background-image: linear-gradient(to right, blue, red);
  display: none;
  
}

#button:hover {
  transform: scale(1.2);
}

h3 {
 position: relative;
 font-size: 22px;
 font-weight: 100;
 bottom: 10px;
 font-family: "Helvetica Neue";
 }


#box-1 {
background-color: #00b;
width: 50%;
height: 100%;
text-align: center;


}

  #box-2 {
    background-color: #b00;
    width: 50%;
    height: 100%;
    text-align: center;
 

   

}

/*
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.05;
  position: fixed;
  bottom: 120px;
  right: 550px;
  width: 180px;
  font-size: 17px;
  border-radius: 6px;
}

*/
.open-button {
  background-color: #555;

  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.15;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  bottom: 80px;

  width: 180px;
  font-size: 17px;
  border-radius: 6px;


}

/* The popup form - hidden by default */
.form-popup {

  position: absolute;
  left: 38%;
  color: black;
  font-size: 17px;
  font-weight: bold;

  opacity: 0.92;
  
  
  z-index: 9;
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;

}

/* Full-width input fields */
.form-container input[type=number], .form-container input[type=number] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  background: #f1f1f1;
  font-size: 19px;
  font-weight: bold;

}

/* When the inputs get focus, do something */
.form-container input[type=number]:focus, .form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  font-size: 20px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container input[type=checkbox] {
background-color: #000;
border: solid black;
margin-top: 20px;
margin-right: 10px;
}

#slaughter {
border: solid black;
}

#auto-flip {
border: solid black;
}


/* Add a red background color to the cancel button */

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

b {

  color: #000;
}

h1{


  color: #000;
}

h2 {
  color: #000;

}


#controls {
  margin-top: 3px;
  display: flex;
  margin: 7px;
  margin-bottom: 55px;

}

#symbols {
  position: absolute;
  bottom: 133px;
  left: 20px;
  font-size: 15px;
  font-weight: bold;

}

#add {
  width: 100%;
  height: 50px;
  margin-left: 50px;
}

#subtract {
  margin-right: 50px;
  width: 50px;
  height: 50px;
}


#blue-add {
margin-bottom: 15px;
height: 0;
width: 0;


border-left: 30px solid transparent;
border-right: 30px solid transparent;

border-bottom: 35px solid blue;


}

#blue-add:hover {
  transform: scale(1.2);
}


#red-add {
margin-bottom: 15px;
height: 0;
width: 0;

border-left: 30px solid transparent;
border-right: 30px solid transparent;

border-bottom: 35px solid red;
}

#red-add:hover {
  transform: scale(1.2);
}

#blue-sub {
height: 0;
width: 0;

border-left: 30px solid transparent;
border-right: 30px solid transparent;
  
border-top: 35px solid blue;

}

#blue-sub:hover {
  transform: scale(1.2);
}


#red-sub {
height: 0px;
width:  0px;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
  
border-top: 35px solid red;
}

#red-sub:hover {
  transform: scale(1.2);
}

#reset-switch {
  display: flex;
  margin-bottom: 10px;
}


#reset-game {
height: 30px;
width: 50%;
background-color:  #e0d5a8;
border: solid white 3px;
border-radius: 10px;
text-align: center;
color: black;
}

#reset-game:hover {
  transform: scale(1.2);
}

#switch-serve {
text-align: center;
height: 30px;
width: 50%;
background-color: #7abae8;
border: solid white 3px;
border-radius: 10px;
color: black;

}

#switch-serve:hover {
  transform: scale(1.2);
}

